apiVersion: apps/v1
kind: Deployment
metadata:
  name: torchlite-frontend-stage-deployment
spec:
  selector:
    matchLabels:
      app: torchlite-frontend-stage-app
  replicas: 1
  revisionHistoryLimit: 2
  template:
    metadata:
      labels:
        app: torchlite-frontend-stage-app
    spec:
      containers:
        - name: torchlite-frontend-stage
          image: ghcr.io/htrc/torchlite-frontend:develop-9f612fb
          ports:
            - containerPort: 3000
          env:
            - name: ENV
              value: stage
            - name: NODE_ENV
              value: development
            - name: KEYCLOAK_ISSUER_BASE_URL
              value: https://idp.stage.htrc.indiana.edu/realms/10000202
            - name: KEYCLOAK_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: torchlite-frontend-secrets-stage
                  key: torchlite-client-id
            - name: KEYCLOAK_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: torchlite-frontend-secrets-stage
                  key: torchlite-client-secret
            - name: NEXTAUTH_URL
              value: https://torchlite-stage.htrc.illinois.edu
            - name: NEXTAUTH_SECRET
              valueFrom:
                secretKeyRef:
                  name: torchlite-frontend-secrets-stage
                  key: nextauth-secret
            - name: NEXT_PUBLIC_BASE_API_URI
              value: https://torchlite-stage-api.htrc.illinois.edu
            - name: REDIS_HOST
              value: redis-master.torchlite-stage.svc.cluster.local
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: torchlite-frontend-secrets-stage
                  key: redis-password
      imagePullSecrets:
        - name: dockerconfigjson-github-com
